*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.navbar{
    background-color: purple;
    color: white;
    padding: 18px 0;
}
.navbar .container{
    max-width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.input .container{
    width: 50%;
    margin: 60px auto;
    margin-bottom: 0;
}

.margin{
    margin: 18px 0;
}

#input{
    height: 26px;
    width: 285px;
}

.btn{
    height: 30px;
    width: 100px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 28px;
    font-weight: bold;
}

.data-container{
    text-align: center;
    width: 50%;
    margin: auto;
}

.loading{
    display: none;
}

.suggested{
    background-color: #B794F4;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
}

.audio{
    margin: 25px 0;
}